@{ ViewData["Title"] = "About Us"; }

<style>
    main {
        background-color: burlywood;
    }

    h1.display-4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 4em;
    }

    img {
        width: 30%;
        margin: 50px 35% 20px;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
    }

    p {
        width: 80%;
        margin: 10px 10%;
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: center;
    }

    main p:last-child {
        width: 90%;
        margin: 20px 5% 10px;
    }
</style>

<main>
    <div class="text-center">
        <h1 class="display-4">About Universal Soaps</h1>
    </div>


    <img src="~/img/soap1.jpeg" />

    
    <p>We wish to provide you with skin and hair care products that you can rely on. Dove care, however, extends beyond our products. Get more about Dove's mission, our research, and our collaborators here.</p>

    <h2>Let's transform beauty</h2>
    <p>
        Beauty. We're on a mission to redefine, realign, and make everything beautiful once more. We have always fought for genuine beauty that is distinct, varied, and inclusive. And we want to live in a world where everyone enjoys beauty.Because of this, we have been acting in concert with many amazing partners for the past 30 years. Together, we have been putting an end to the destructive preconceptions and limited definitions of beauty that have harmed self-esteem and body confidence for far too long.
    </p>

    <img src="~/img/soap2.webp" />
   
    <div>
        <h2>Intergenerational Pride in Loving Your Natural Hair</h2>
        <p>Your hair is your crown in the Black community and represents your culture and sense of pride. Black natural hair can be wonderfully done in a variety of ways, from box braids to bantu knots, and it can be curled, coiled, wavy, or straight. Many African parents instill in their kids a love of their natural hair's texture and adaptability from generation to generation. This affection is nourished by special occasions like going to the barber or beauty salon for a new fade or retwisted locs. Accepting one's natural hair colour boosts confidence.</p>
    </div>

    <img src="~/img/soap3.jpeg" />

    <p>Given that it makes up 60% of our bodies and almost 70% of the surface of our planet, water is an essential resource for all of us and the environment in which we live. In order to maintain and conserve this vital resource, as well as to promote change, we are doing everything within our power to do so.</p>
    </main>