@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Universal Socks</h1>
    <p> To see our products <a asp-area="" asp-controller="soaps" asp-action="Index">click here</a>. </p>
</div>
